.App {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
}

.bauble {
  height: 10vh;
  width: 10vh;
  margin: 4px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.help-text {
  margin-top: 8px;
}