.App {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
}

.center-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.active-content > h1 {
  margin-bottom: 1px;
}

.active-content > h3 {
  margin-top: 1px;
}

.active-content > p {
  max-width: 400px;
}

.menu-icon {
  height: 9vh;
  width: 9vh;
  margin: 4px;
  border-radius: 50%;
}

.social-media {
  display: flex;
  justify-content: center
}

.social-media-icon {
  margin: 2px;
}
